header {
    display: block;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(94, 155, 94);
    max-height: 100px;
    padding: 0 20px;
}

.img-container img {
    max-height: 100px;
    max-width: 200px;
}

.navbar-brand {
    font-weight: 700;
    color:white;
    padding-left: 10px;
}

button .home-btn:hover {
    background-color: blue;
    color: white;
}

form {
    min-width: 300px;
    display:flex;
}

ul li {
    line-height: 20px;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    padding-left: 7px;
}

.container-fluid {
    background-image: url("/Users/sibianmariusionut/Documents/Projects/flexbox_proj/pexels-picjumbocom-196643.jpg");
    background-size: 100%;
    margin: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid img {
    width: 100%;
    height: auto;
}

.banner {
    position: relative;
}

button .btn {
    background-color: rgb(175, 199, 150);
}

.container-header {
    text-align: center;
    background-color: rgb(116, 133, 117);
    height: 50px;
    width: 60%;
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.8;
}

.products {
    background-color: rgb(94, 155, 94);
    padding: 40px 40px;
}

.card img {
    
}

.card {
    background-color: rgb(194, 221, 194);
    margin:20px 40px;
    min-width: 100px;
    min-height: auto;
}


.main-recipes {
    width: 100%;
    background-color: rgb(172, 172, 172);
    padding: 40px 20px;


}

.caroussel-head {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;

}

.car-h3 {
    font-size: 3em;
    font-weight: 600;
}

.car-holder {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}


.caroussel {
    width: 40%;
    align-content: center;
}

footer {
    background-color: black;

}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 10px 35px;
    background-color: black;
    height: 180px;
    color: white;
    margin-left: 50px;
}

i {
    padding-left: 5px;
    display:inline-block;
}

.f-row {
    display:flex;
}

.f-row p {
    font-size: 1.2em;
}